<h2>Add a new user</h2>
<form [formGroup]="userFormGroup" (ngSubmit)="handleSubmit()">
  <div class="input-group">
    <label for="firstName">First name:</label>
    <input type="text" id="firstName" formControlName="firstName" />
    <div
      class="input-feedback"
      *ngIf="
        (userFormGroup.get('firstName')?.touched &&
          userFormGroup.get('firstName')?.hasError('required')) ||
        userFormGroup.get('firstName')?.hasError('minlength') ||
        userFormGroup.get('firstName')?.hasError('maxlength')
      "
    >
      First name must be between 1 and 50 characters long.
    </div>
  </div>

  <div class="input-group">
    <label for="lastName">Last name:</label>
    <input type="text" id="lastName" formControlName="lastName" />
    <div
      class="input-feedback"
      *ngIf="
        (userFormGroup.get('lastName')?.touched &&
          userFormGroup.get('lastName')?.hasError('required')) ||
        userFormGroup.get('lastName')?.hasError('minlength') ||
        userFormGroup.get('lastName')?.hasError('maxlength')
      "
    >
      Last name must be between 1 and 50 characters long.
    </div>
  </div>

  <div class="input-group">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" />
    <div
      class="input-feedback"
      *ngIf="
        userFormGroup.get('email')?.touched &&
        userFormGroup.get('email')?.hasError('email')
      "
    >
      Email address must be valid.
    </div>
  </div>

  <button type="submit">Add user</button>
</form>
