/* You can add global styles to this file, and also import other style files */

* {
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: normal;
}

body {
  background-color: hsl(200, 100%, 90%);
}

h2 {
  font-family: monospace;
  font-size: 2rem;
  padding: 20px;
  text-align: center;
}
